.characters {
    grid-area: c;
    margin: 0 auto;
}

.names-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    grid-gap: 10px;
}


.names-list > li {
    justify-self: center;
    border-radius: 12px;
    max-height: 350px;
    border: 1px solid transparent;
}

.names-list > li > img {
    width: 150px;
    height: 150px;
    border-radius: 12px 12px 0 0;
    border-bottom: 5px solid #5e24ce;
}

.name-section {
    border-radius: 0 0 12px 12px;
    background-color: #3a3a3a;
    position: relative;
    top: -8px;
    padding: 12px;
}

.name-section > div {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.name-section:hover {
    cursor: pointer;
}

.view-details {
    margin: 0;
    color: #b9b9b9;
    letter-spacing: 1px;
}

.view-details:hover {
    color: #ce5e24;
}

.character-detail {
    position: absolute;
    background-color: #131313;
    height: 0;
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto 35px;
    border: 1px solid #525252;
    border-radius: 5px;
    letter-spacing: 1px;
    z-index: 1;
}


#detail-panel {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /*position: absolute;*/
    /*width: 100%;*/
    /*border: 1px solid #525252;*/
    /*border-top: none;*/
    /*border-radius: 0 0 5px 5px;*/
    /*text-align: center;*/
    /*background-color: #131313;*/
    /*min-height: 250px;*/
}

.side-border {
    border-right: 1px solid #383838;
    margin: 0 10px;
    padding: 13px;
    text-align: left;
}

.side-border:last-child {
    border-right: none;
}

.side-border > h4 {
    color: #b7b7b7;
    font-size: 14px;
    letter-spacing: 1px;
}


@keyframes charDetailsOpen {
    from {
        height: 0;
        visibility: hidden;
        opacity: 0;
        /*transform: scale(0);*/
    }
    to {
        height: fit-content;
        visibility: visible;
        opacity: 1;
        /*transform: scaleX(1.5);*/
    }
}

@keyframes charDetailsClose {
    from {
        height: fit-content;
        visibility: visible;
        opacity: 1;
        /*transform: scaleX(1.5);*/
    }
    to {
        height: 0;
        visibility: hidden;
        opacity: 0;
        /*transform: scale(0);*/
    }
}

@keyframes shiftLowerPanelsDown {
    from {
        margin-bottom: 0;
    }
    to {
        margin-bottom: 400px;
    }
}

@keyframes shiftLowerPanelsUp {
    from {
        margin-bottom: 400px;
    }
    to {
        margin-bottom: 0;
    }
}


@media only Screen and (max-width: 900px) {
    .names-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .names-list > li > img {
        width: 165px;
        height: 190px;
    }

    #detail-panel {
        grid-template-columns: repeat(3, 1fr);
    }

    .side-border {
        border-right: none;
        padding: 0;
    }

    .names-list > li {
        max-height: 270px;
    }
}