.characters-wrapper {
    width: 100%;
    background-color: black;
}

.characters {
    /*grid-area: c;*/
    margin: 0 auto;
    background-color: black;
    width: 50%;
}

.characters > h1 {
    /*width: 50%;*/
    margin: 0 auto;
}

.names-list {
    display: grid;
    list-style: none;
    padding: 0;
    text-align: center;
    grid-gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(175px, 1fr) );
}


.names-list > li {
    justify-self: center;
    border-radius: 12px;
    max-height: 350px;
    border: 1px solid transparent;
}

.names-list > li > img {
    width: 175px;
    height: 195px;
    border-radius: 12px 12px 0 0;
    border-bottom: 5px solid #5e24ce;
}

.name-section {
    border-radius: 0 0 12px 12px;
    background-color: #3a3a3a;
    position: relative;
    top: -8px;
    padding: 12px;
}

.name-section > div {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.name-section:hover {
    cursor: pointer;
}

.view-details {
    margin: 0;
    color: #b9b9b9;
    letter-spacing: 1px;
}

.view-details:hover {
    color: #ce5e24;
}

.character-detail {
    position: absolute;
    background-color: #131313;
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto 35px;
    border: 1px solid #525252;
    border-radius: 5px;
    letter-spacing: 1px;
    z-index: 1;
}


.detail-panel {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: auto;
}

.side-border {
    border-right: 1px solid #383838;
    margin: 0 10px;
    padding: 13px;
    text-align: left;
}

.side-border:last-child {
    border-right: none;
}

.side-border > h4 {
    color: #b7b7b7;
    font-size: 14px;
    letter-spacing: 1px;
}


@keyframes charDetailsOpen {
    from {
        visibility: hidden;
        opacity: 0;
        transform: scaleY(0) translateY(-200px);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: scaleY(1) translateY(0);
    }
}

@keyframes charDetailsClose {
    from {
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
        color: #131313;
    }
    to {
        height: 0;
        visibility: hidden;
        opacity: 0;
        transform: scaleY(0);
        color: #131313;
    }
}


@media only Screen and (max-width: 900px) {

    .characters > h1 {
        margin: 0 10px;
    }

    .characters {
        width: auto;
    }

    .names-list {
        /*grid-template-columns: repeat(2, 1fr);*/
        /*width: auto;*/
    }

    .names-list > li {
        max-height: 270px;
        width: 90%;
    }

    .names-list > li > img {
        width: 100%;
    }

    .detail-panel {
        grid-template-columns: repeat(3, 1fr);
    }

    .side-border {
        border-right: none;
        padding: 0;
    }
}