.movie-details-wrapper {
    background: black;
    width: 100%;
    position: fixed;
    height: 100%;
    color: white;
    animation: open .5s ease forwards;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.close-button {
    color: white;
    background: transparent;
    margin: 10px 25px;
    height: 22px;
    border: none;
    font-size: 20px;
}

.opening-crawl {
    width: 50%;
    font-size: 20px;
    text-align: left;
    padding: 15px;
    letter-spacing: 2px;
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    opacity: 0;
    animation: crawl 300s linear;
    animation-delay: 1s;
}

.star-wars {
    display: flex;
    justify-content: center;
    color: #feda4a;
    perspective: 400px;
    text-align: justify;
}

.fade {
    position: relative;
    height: 80px;
    top: 150px;
    z-index: -1;
}

.test {
    display: grid;
    grid-template-areas:
            "poster  poster poster poster poster"
            "  .       .      t      .       .  "
            "  c       c      c      c       c  "
            "  f       f      f      f       f  ";
}

.details-title {
    grid-area: t;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.poster {
    grid-area: poster;
    width: 100%;
    height: 500px;
    border-radius: 0 0 12px 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 100;
}

.spinner {
    margin: 0 auto;
    position: relative;
    top: 10%;
}

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg)  translateZ(0);
        opacity: 1;
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

@keyframes open {
    from {
        transform: translateX(2000px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes close {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-2000px);
    }
}


@keyframes charDetailsOpen {
    from {
        height: 0;
        visibility: hidden;
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        height: 200px;
        visibility: visible;
        opacity: 1;
        transform: scaleX(1.5);
    }
}

@keyframes charDetailsClose {
    from {
        height: 200px;
        visibility: visible;
        opacity: 1;
        transform: scaleX(1.5);
    }
    to {
        height: 0;
        visibility: hidden;
        opacity: 0;
        transform: scaleX(0);
    }
}

@media only Screen and (max-width: 900px) {
    .poster {
        height: 250px;
    }
}

@media only Screen and (max-width: 400px) {
    .poster {
        height: 185px;
    }
}